
<html>
<!-- Loop over each object in the postpets array -->
{{!-- {{#each postpets as |postpet| }}
<div class="row mb-4 postpet">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/postpet/{{postpet.id}}">{{postpet.title}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      {{!-- <span class="dollar-amount">{{ postpet.needed}}</span>
      needed! --}}
    {{!-- </p>
    <p>Created by {{postpet.user.name}} on {{format_date postpet.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{postpet.description}}
    </p>
  </div>
</div>
{{/each}} --}}

<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Adopt a Pet</h1>
    </div>
  </div>

    <div class="well">
  <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
   </form>
</div>
<body>
{{#each postpets as |postpet| }}
 <form class="form new-postpet-form">
    <div class="form-group">
      <div class="col-md-5">
    <h2>
      <a href="/postpet/{{postpet.id}}">{{postpet.title}}</a>
    </h2>
    
    <p>
     {{postpet.description}}
    </p>
    <p>Created by {{postpet.user.name}} on {{format_date postpet.date_created}}</p>
  </div>
  </div>
</div>
{{/each}}
</body>
</html>
