<body> 
<div class="row">
  <div class="col-md-5">
 
  </div>
</div>
<div class="container text-center">    
  <div class= "row justify-space-between-md" id="">
    <h2>Welcome, {{name}}!</h2>
    <div class="col-md-5 well">
    
      
    <h3>Create a New Post:</h3>


    <form class="form new-postpet-form">
      <div class="form-group">
        <label for="postpet-title">Title:</label>
        <input class="form-input" type="text" id="postpet-title" name="postpet-title" />
      </div>

      <div class="form-group">
        <label for="postpet-desc">Description:</label>
        <textarea class="form-input" id="postpet-desc" name="postpet-desc"></textarea>
      </div>

      <div class="form-group">
        <label for="postpet-contact">Call this number:</label>
        <input class="form-input" type="tel" id="postpet-contact" name="postpet-contact"/>
      </div>

      <div class="form-group">
        <label for="postpet-image">Image:</label>
        <img class="form-input" id="postpet-image" name="postpet-image"/>
            <div class="well">
              {{!-- <method="POST" action="/upload" enctype="multipart/form-data"> --}}
              <input type="file" id="imageUpload" name="image" value="Upload">
              {{!-- <input type="submit" value="Upload"> --}}
            </div>
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if postpets.length}}
  <div class="col-md-6 postpet-list">
    <h3>Current Posts:</h3>

    {{#each postpets as |postpet|}}
    <div class="well">
    <div class="panel-well">
      

    <div class="row mb-2">
      <div class="col-md-2">
        <img class="img-responsive" src="{{postpet.image}}" alt="postpet image" width="80" height="80" />
      </div>
      <div class="col-md-6">
        <h4>{{postpet.title}} </h4>
      </div>
      <div class="col-md-2">
        <a href="/postpet/{{postpet.id}}" class="btn btn-sm btn-danger" >EDIT</a>
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-danger" data-id="{{postpet.id}}">DELETE</button>
      </div>
    </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> 

<script src="./js/profile.js"></script>
<script src="./utils/upload_files.js"></script>

</body>